<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Students List</h1>
    <ul>
        <% students.forEach(student => { %>
            <li><a href="/students/<%= student.id %>"><%= student.name %></a></li>
        <% }) %>
    </ul>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
    <title>Students List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Students List</h1>
    <ul>
        <% students.forEach(student => { %>
            <li><a href="/students/<%= student.id %>"><%= student.name %> (<%= student.roll_number %>)</a></li>
        <% }) %>
    </ul>
</body>
</html>
